* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: fantasy;
    background: #808080 url("login.jpeg") no-repeat center center fixed;
    padding: 50px;
    background-size: cover;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}

.app-title {
    text-align: center;
    color: rgb(3, 3, 3);
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #444444;
    border: 2px solid #000000;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    color: #ffffff;
}

input:focus {
    border: 2px solid #020202;
    box-shadow: none;
}

.button {
    border: none;
    background: #444444;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
    padding: 12px 32px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 5px;
}

.button:hover {
    background-color: #2980b9;
}
