body {
    background-color: #212529;
    color: white;
  }
  
  .navbar-dark .navbar-brand {
    color: white;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
  
  .carousel-indicators li {
    background-color: white;
  }
  
  .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  
  .mt-4 h4 {
    color: white;
  }
  
  .mt-4 p {
    color: white;
  }
  
  .cr{
  width: 1500px;
  }
  