body {
    background-color: #212529;
    color: white;
  }
  
  .carousel-indicators li {
    background-color: white;
  }
  
  .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  
  .cr{
  width: 750px;
  }
  